/* ================= NAVBAR ================= */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    border-bottom: 1px solid rgb(165, 160, 160);
    background-color: black;
    color: white;
}

/* ================= LOGO ================= */
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 70px;
    height: 50px;
}
.nav-logo p{
    font-size: 38px;
}

/* ================= MENU ================= */
.nav-menu{
    display: flex;
    list-style: none;
    gap:50px;
    font-size: 20px;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-menu li a {
  text-decoration: none;
  color:white;
}
.nav-menu hr{
    border: none;
    width: 90%;
    height: 3px;
    background-color: #f5c542;
}

/* ================= LOGIN / CART ================= */
.nav-login-card{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-card img{
     width: 40px;
     height: 40px;
}

.nav-login-card button{
    width:100px;
    height:37px;
    border-radius: 75px;
    color:white;
    background-color: rgb(20, 221, 50);
    cursor: pointer;
}

/* ================= CART BADGE FIX ================= */
.cart-wrapper {
  position: relative;
  display: inline-block;
}

.nav-card-count {
  position: absolute;
  top: -6px;
  right: -10px;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* ================= PROFILE ================= */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;   /* 🔥 circle banane ka main property */
  object-fit: cover;    /* 🔥 image stretch nahi hogi */
  border: 2px solid white;
  display: block;
}
.profile img:hover {
  transform: scale(1.1);
  border-color: #f5c542;
  transition: 0.3s;
}

/* ================= SEARCH ================= */
.nav-search {
  position: relative;
}
.nav-search input {
  padding: 8px 12px;
  border-radius: 20px;
  width: 200px;
}

/* ================= DROPDOWN ================= */
.search-dropdown {
  position: absolute;
  top: 40px;
  width: 100%;
  background: white;
  color: black;
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.search-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}
.search-item:hover {
  background: #eee;
}
.search-item img {
  width: 40px;
  margin-right: 10px;
}