.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;

}
.hero-left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left-side h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left-side p{
    color: #090909;
    font-size: 80px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 80px;
    height: 80px;

}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 40px;
    border-radius: 75px;
    margin-top: 15px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500px;
}
.hero-right-side{
   flex : 1;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   
}
.hero-right-side img{
    position: absolute;
   width: 650px;
   height: 400px; 
}